.heading{
    color: #68217a;
}
.main{
    text-align: center;
    background-color: #f8efba;
}
.tableheading{
    background-color: #ffff00;
}
.sadc{
    background-color: #f6b93b;
}
.sudc{
    background-color: #ff3f34;
}
.modc{
    background-color: #0fbcf9;
}
.tudc{
    background-color: #78e08f;
}
.wedc{
    background-color: #d980fa;
}
.thdc{
    background-color: #d1d8e0;
}
.teacherscolor{
    background-color: #ffcccc;
}
.cn1{
    background-color: #ee82ee;
}
.cn2{
    background-color: #8e4abe;
}
.cn3{
    background-color: #2222fd;
}
.cn4{
    background-color: #008000;
}
.cn5{
    background-color: #ffff00;
}
.cn6{
    background-color: #ffa500;
}
.ct1{
    background-color: #ff6b81;
}
.ct2{
    background-color: #2ed573;
}
.roomcolor{
    background-color: #c4e538;
}